{% extends "base.html" %}

{% block content %}
	<form method="post" novalidate>
		{% csrf_token %}
		<input type="hidden" name="next" value="{{ next }}">
		{% include "includes/form.html" %}
		<div class="field is-grouped">
			<div class="control">
		    	<button class="button is-link">Dang nhap</button>
		  	</div>
		  	<div class="control">
			    	<a href="{% url 'password_reset' %}">Quen mat khau?</a>
			</div>
		</div>
	</form>

	<div class="control">
    	Neu chua co tai khoan <a href="{% url 'signup' %}">Dang ky</a>
   </div>
{% endblock content %}