{% extends "base.html" %}

{% block title %}
	Tai khoan cua toi
{% endblock title %}


{% block breadcrumb %}
	<li class="is-active"><a href="#" aria-current="page">Sua tai khoan</a></li>
{% endblock breadcrumb %}


{% block content %}
	<form method='post' novalidate>
		{% csrf_token %}
		{% include "includes/form.html" %}
		<button class="button is-link">Thay doi</button>
	</form>
{% endblock content %}