{% extends "base.html" %}

{% block content %}
	<form method="post" novalidate>
		{% csrf_token %}
		{% include "includes/form.html" %}
		<div class="control">
	    	<button class="button is-link">Dang ky</button>
	  	</div>
	</form>
	<div class="field">
	  <div class="control">
	    Neu da co tai khoan <a href="{% url 'login' %}">Dang nhap</a>
	   </div>
	</div>
{% endblock content %}