{% extends "base.html" %}

{% load static %}

{% block title %}
	Sua bai {{post.message}}
{% endblock title %}


{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}


{% block breadcrumb %}
	<li><a href="{% url 'home' %}">Bang</a></li>
	<li><a href="{% url 'board_topics' post.topic.board.pk %}">{{post.topic.board.name}}</a></li>
	<li><a href="{% url 'topic_posts' post.topic.board.pk post.topic.pk  %}">{{post.topic.subject}}</a></li>
    <li class="is-active"><a href="#" aria-current="page">Sua bai dang</a></li>
{% endblock breadcrumb %}

{% block content %}
	<form method="post">
		{% csrf_token %}
		{% include "includes/form.html" %}
		<div class="field is-grouped">
		  <div class="control">
		    <button class="button is-link">Hoan tat</button>
		  </div>
		  <div class="control">
		    <a class="button is-text" href="{% url 'topic_posts' post.topic.board.pk post.topic.pk %}">Quay lai</a>
		  </div>
		</div>
	</form>
{% endblock content %}


{% block scripts %}
	<script src="{% static 'js/simplemde.min.js' %}"></script>
    <script>
       var simplemde = new SimpleMDE();
    </script>
{% endblock scripts %} 