{% extends "base.html" %}

{% load to_week %}

{% block content %}
	<table class="table is-fullwidth">
		<thead>
			<tr>
				<th abbr="Bang">Bang</th>
				<th abbr="Bai dang">Bai dang</th>
				<th abbr="Chu de">Chu de</th>
				<th abbr="Bai dang moi nhat">Cap nhat lan cuoi</th>
			</tr>
		</thead>
		<tbody>
			{% for board in boards  %}
				<tr>
					<td><a href="{% url 'board_topics' pk=board.pk %}">{{board.name}}</a>
					<p><small>{{board.description}}</small></p>
					</td>
					<td>{{board.get_posts_count}}</td>
					<td>{{board.topics.count}}</td>
					<td>
						{% with post=board.get_last_post %}
						{% if post %}
							<a href="{% url 'topic_posts' board.pk post.topic.pk %}">Boi {{post.created_by}} {{post.created_at|date:'l, j/m/Y'|to_week}} luc {{post.created_at|time:'H:i'}}</a>
						{% else %}
						<em>Chua co bai dang nao</em>
						{% endif %}
						{% endwith %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	

{% endblock content %}


{% block breadcrumb %}
	<li><a href="{% url 'home' %}">Bang</a></li>
    {# <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li> #}
{% endblock breadcrumb %}