{% extends "base.html" %}


{% load static %}

{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block title %}
	Create a new Topic
{% endblock title %}

{% block breadcrumb %}
	<li><a href="{% url 'home' %}">Bang</a></li>
	<li><a href="{% url 'board_topics' board.pk %}">{{board.name}}</a></li>
    <li class="is-active"><a href="#" aria-current="page">New topic</a></li>
{% endblock breadcrumb %}

{% load widget_tweaks %}

{% block content %}
	<form method="POST" novalidate>
		{% csrf_token %}
		
		<div class="field">
			<label class="label">{{form.subject.label}}</label>
			{% if form.is_bound %}
				{% if form.subject.errors %}
					{% render_field form.subject class='input is-danger' %}
					{% for error in form.subject.errors  %}
						<p class="help is-danger">{{error}}</p>		
					{% endfor %}
				{% endif %}
			{% else %}
				{% render_field form.subject class='input' %}
			{% endif %}
		</div>
		
		<div class="field">
			<label class="label">{{form.message.label}}</label>
			{% if form.is_bound %}
				{% if form.message.errors %}
					{% render_field form.message|safe class='textarea is-danger' %}
					{% for error in form.message.errors  %}
						<p class="help is-danger">{{error}}</p>		
					{% endfor %}
				{% endif %}
			{% else %}
				{% render_field form.message class='textarea' %}
			{% endif %}
		</div>
		
		<div class="control">
	    	<button class="button is-link">Dang</button>
	  	</div>
	</form>
{% endblock content %}

{% block scripts %}
	<script src="{% static 'js/simplemde.min.js' %}"></script>
    <script>
       var simplemde = new SimpleMDE();
    </script>
{% endblock scripts %} 