{% extends "base.html" %}


{% load static %}


{% block title %}
	Them mot binh luan
{% endblock title %}


{% block stylesheet %}
	<link rel="stylesheet" href="{% static "css/simplemde.min.css" %}">
{% endblock stylesheet %}

{% block breadcrumb %}
	<li><a href="{% url 'home' %}">Bang</a></li>
	<li><a href="{% url 'board_topics' topic.board.pk %}">{{topic.board.name}}</a></li>
	<li><a href="{% url 'topic_posts' topic.board.pk topic.pk %}">{{topic.subject}}</a></li>
    <li class="is-active"><a href="#" aria-current="page">Binh luan</a></li>
{% endblock breadcrumb %}

{% block content %}
	<form method="post" novalidate>
		{% csrf_token %}
		{% include "includes/form.html" %}
		<button class="button is-link">Dang</button>
	</form>
{% endblock content %}


{% block scripts %}
	<script src='{% static "js/simplemde.min.js" %}'></script>
	<script>
		var simplemde = new SimpleMDE();
	</script>
{% endblock scripts %}