{% extends "base.html" %}
{% load static %}

{% load to_time %}

{% block title %}
	{{board.name}}
{% endblock title %}

{% block breadcrumb %}
	<li><a href="{% url 'home' %}">Bang</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{board.name}}</a></li>
{% endblock breadcrumb %}

{% block content %}
	<a href="{% url 'new_topic' pk=board.pk %}" class="button is-link">Tao chu de</a>
	<table class="table is-fullwidth">
		<thead>
			<tr>
				<th abbr="Bang">Chu de</th>
				<th abbr="Bai dang">Nguoi tao</th>
				<th abbr="Chu de">So phan hoi</th>
				<th abbr="Chu de">Luot xem</th>
				<th abbr="Bai dang moi nhat">Cap nhat lan cuoi</th>
			</tr>
		</thead>
		<tbody>
			{% for topic in page_obj  %}
				<tr>
					<td><a href="{% url 'topic_posts' pk=board.pk topic_pk=topic.pk %}">{{topic.subject}}</a>
					</td>
					<td><a href="#">{{topic.starter.username}}</a>
					</td>
					<td>{{topic.replis}}</td>
					<td>{{topic.views}}</td>
					<td>{{topic.last_updated|timesince|to_time}} truoc</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{# Paginator  #}

	{% include "includes/pagination.html" %}
	{# End pagination #}
{% endblock content %}