{% extends "base.html" %}

{% load gravatar %}
{% load to_time %}

{% block title %}
	{{topic.subject}}
{% endblock title %}

{% block breadcrumb %}
	<li><a href="{% url 'home' %}">Bang</a></li>
	<li><a href="{% url 'board_topics' topic.board.pk %}">{{topic.board.name}}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{topic.subject}}</a></li>
{% endblock breadcrumb %}

{% block content %}
	<div class="box content">
		{% for post in  page_obj %}
			<article id="{{post.pk}}" class="post">
				<p>{{post.get_message_as_markdown}}</p>

				<div class="media">
					<div class="media-left">
						<p class="image is-32x32">
							<img src="{{post.created_by|gravatar}}">
						</p>
					</div>
					<div class="media-content">

						<div class="content">
							 <a href="#">{{post.created_by.username}}</a>
							 {{post.created_at|timesince|to_time}} truoc
						
						</div>
					</div>
					<div class="media-right">

						<span class="has-text-grey-light"><i class="fa fa-comments"></i>{{topic.posts.count}}</span>

					</div>
				</div>
				{% if post.created_by == user %}
					<div class="media">
						<a href="{% url 'edit_post' post.topic.board.pk post.topic.pk post.pk %}" class="button is-link"> Sua</a>
					</div>
				{% endif %}
			</article>
		{% empty %}
			Chua co post nao
		{% endfor %}
	
	</div>
	<a href="{% url 'reply_topic' topic.board.pk topic.pk %}" class="button is-link"> Tra loi</a>
	
	{% include "includes/pagination.html" %}


{% endblock content %}