
{% load widget_tweaks %}
{% load to_use %}
{% for field in form  %}
	<div class="field">
  		{{field.label_tag|to_use|safe}}

  		{% if form.is_bound %}
  			{% if field.errors %}
  				  {% render_field field class='input is-danger' %}
  				  {% for error in field.errors  %}
  				  	<p class="help is-danger">{{error}}</p>
  				  {% endfor %}
			{% else %}
				{% render_field field class='input' %}
  			{% endif %}
  		{% else %}
  		  		{% render_field field class='input' %}
  		{% endif %}

	</div>

{% endfor %}