{% if page_obj.has_other_pages %}
		<nav class="pagination is-rounded" role="navigation" aria-label="pagination">
		{% if page_obj.has_previous %}
		  <a class="pagination-previous" href="?page={{page_obj.previous_page_number}}">Truoc</a>
		 {% else %}
			<a class="pagination-previous" disabled>Truoc</a>
		 {% endif %}
		
		{% if page_obj.has_next %}
			<a class="pagination-next" href="?page={{page_obj.next_page_number}}">Tiep</a>
		{% else %}
			<a class="pagination-next" disabled>Tiep</a>
		{% endif %}
		  <ul class="pagination-list">
		    {% for page_num in page_obj.paginator.page_range  %}
		    	{% if  page_obj.number == page_num %}
					<li><a class="pagination-link is-current" aria-label="Goto page 1">{{page_num}}</a></li>
				{% elif page_num == page_obj.number|add:'1' or page_num == page_obj.number|add:'-1' %}
					<li><a class="pagination-link" href="?page={{page_num}}" aria-label="Goto page 1">{{page_num}}</a></li>
				{% elif page_num > 2 and page_num < page_obj.paginator.num_pages|add:'-1'  %}
					<li><span class="pagination-ellipsis">&hellip;</span></li>
		    	{% else %}
					<li><a class="pagination-link" href="?page={{page_num}}" aria-label="Goto page 1">{{page_num}}</a></li>
		    	{% endif %}
		    {% endfor %}
		  </ul>
		</nav>
	{% endif %}