<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
 <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.jpg" %}"/>
	<title>{% block title %}
		Web App
	{% endblock title %}</title>
	<link rel="stylesheet" href="{% static "css/bulma.min.css" %}">
	<link rel="stylesheet" href="{% static "css/app.css" %}">
  <link rel="stylesheet" href="{% static "css/bulma-badge.min.css" %}">
	{% block stylesheet %}
		
	{% endblock stylesheet %}
</head>
<body>
	{% block body %}

	<nav class="navbar">
        <div class="container">
           <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'home' %}">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/django-logo-png-transparent.png" width="60" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
  	{% if user.is_authenticated %}
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{user.username}}
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'my_account' %}">
              Tai khoan
            </a>
            <a class="navbar-item" href="{% url 'password_change' %}">
              Thay mat khau
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="{% url 'logout' %}">
              Dang xuat
            </a>
          </div>
        </div>
      </div>
    {% else %}
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="{% url 'signup' %}">
            <strong>Dang ky</strong>
          </a>
          <a class="button is-light" href="{% url 'login' %}">
            Dang nhap
          </a>
        </div>
      </div>
    </div>
     {% endif %}

  </div>
  </div>
  </nav>


    <div class="hero-body">
    	<div class="container">

        <nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    {% block breadcrumb %}
      
    {% endblock breadcrumb %}
  </ul>
</nav>

    		{% block content %}
    			
    		{% endblock content %}

    	</div>
    </div>

	{% endblock body %}
	{% block scripts %}
		
	{% endblock scripts %}
</body>
</html>