{% extends "base.html" %}

{% block title %}
	Thay doi mat khau
{% endblock title %}


{% block breadcrumb %}
	<li class="is-active"><a href="#" aria-current="page">Thay doi mat khau</a></li>
{% endblock breadcrumb %}

{% block content %}
	<form method="post" novalidate>
		{% csrf_token %}
		{% include "includes/form.html" %}
		<div class="field is-grouped">
			<div class="control">
		    	<button class="button is-link">Cap nhat</button>
		  	</div>
		</div>
	</form>
{% endblock content %}