{% extends "base.html" %}

{% block title %}
	Reset lai mat khau
{% endblock title %}

{% block content %}
	<form method="post" novalidate>
		{% csrf_token %}
		{% include "includes/form.html" %}
		<button class="button is-link">Gui mat khau qua email</button>
	</form>
{% endblock content %}