{% extends "base.html" %}
{% block title %}
	Thay doi mat khau thanh cong
{% endblock title %}


{% block breadcrumb %}
	<li><a href="{% url 'password_change' %}">Thay doi mat khau</a></li>
	<li class="is-active"><a href="#" aria-current="page">Thanh cong</a></li>
{% endblock breadcrumb %}
{% block content %}
	<a class="button is-link" href='{% url 'home' %}'>Quay lai trang chu</a>
{% endblock content %}